# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [111]:
# Import your libraries:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
from sklearn.datasets import load_diabetes
import numpy as np
from sklearn.model_selection import train_test_split as tts
from sklearn import metrics

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [6]:
# Your code here:
diabetes= pd.DataFrame(load_diabetes().data, columns = load_diabetes().feature_names)

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [10]:
# Your code here:
diabetes.keys()
diabetes.info()
diabetes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
dtypes: float64(10)
memory usage: 34.7 KB

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [18]:
# Your code here:
load_diabetes().DESCR

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, total serum cholesterol\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, total cholesterol / HDL\n      - s5      ltg, possibly log of serum triglycerides level\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)'

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

age in years

sex

bmi body mass index

bp average blood pressure

s1 tc, total serum cholesterol

s2 ldl, low-density lipoproteins

s3 hdl, high-density lipoproteins

s4 tch, total cholesterol / HDL

s5 ltg, possibly log of serum triglycerides level

s6 glu, blood sugar level

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [19]:
diabetes.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [21]:
from sklearn.linear_model import LinearRegression as LinReg
lr = LinReg()

Initialize the model in the variable `diabetes_model`

In [39]:
Target= load_diabetes().target
data= load_diabetes().data

In the cell below, fit the model and print the intercept and coefficients of the model.

In [50]:
lr.fit(data, Target)
print(f"coefficient: {lr.coef_}, intercept: {lr.intercept_}")

coefficient: [ -10.01219782 -239.81908937  519.83978679  324.39042769 -792.18416163
  476.74583782  101.04457032  177.06417623  751.27932109   67.62538639], intercept: 152.1334841628965

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [182]:
# Your code here:

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [75]:
auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [52]:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [53]:
auto.info()
#dtypes are correct

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

What is the newest model year and the oldest model year?

In [54]:
oldest= auto['model_year'].max()
newest= auto['model_year'].min()

82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [76]:
auto.dropna(inplace= True, axis= 0)

In [78]:
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [79]:
auto['cylinders'].value_counts()
#5 possible values of cylinders

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [81]:
auto.drop('car_name', inplace= True, axis=1)

In [85]:
X = auto.drop("mpg", axis=1)
y = auto.mpg

In [86]:
X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.2)

In [90]:
print(X_train.shape) # Predictor training data 
print(X_test.shape) # Response training data
print(y_train.shape) # Predictor test data 
print(y_test.shape) # Response test data

(313, 6)
(79, 6)
(313,)
(79,)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [93]:
lr = LinReg()

Next, fit the model in the cell below.

In [98]:
lr.fit(X_train, y_train) 

print(lr.coef_)
print(lr.intercept_)

[-0.44096221  0.0134272   0.00857359 -0.00741727  0.10984699  0.77591654]
-16.142993986567703

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [104]:
y_test_pred = lr.predict(X_test)
y_test_pred.shape

(79,)

In [113]:
y_test

192    22.0
352    29.9
288    18.2
81     28.0
271    23.2
       ...
251    20.2
321    32.2
174    18.0
121    15.0
134    16.0
Name: mpg, Length: 79, dtype: float64

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [114]:
print("MAE - Mean absolute error", metrics.mean_absolute_error(y_test, y_test_pred))
print("MSE - Mean squeared error", metrics.mean_squared_error(y_test, y_test_pred))
print("RMSE - Root mean squared error", np.sqrt(metrics.mean_absolute_error(y_test, y_test_pred)))
print("R2 - Mean absolute error", metrics.r2_score(y_test, y_test_pred))

MAE - Mean absolute error 2.528085903008128
MSE - Mean squeared error 11.540433920603407
RMSE - Root mean squared error 1.5899955669775083
R2 - Mean absolute error 0.7921841042592427

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [116]:
X_train09, X_test09, y_train09, y_test09 = tts(X, y, test_size = 0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [117]:
auto_model09= LinReg()

auto_model09.fit(X_train09, y_train09)

LinearRegression()

Compute the predicted values and r squared score for our new model and new sample data.

In [121]:
y_test_pred_auto = auto_model09.predict(X_test09)

print("MAE - Mean absolute error", metrics.mean_absolute_error(y_test09, y_test_pred_auto))
print("MSE - Mean squeared error", metrics.mean_squared_error(y_test09, y_test_pred_auto))
print("RMSE - Root mean squared error", np.sqrt(metrics.mean_absolute_error(y_test09, y_test_pred_auto)))
print("R2 - Mean absolute error", metrics.r2_score(y_test09, y_test_pred_auto))

MAE - Mean absolute error 2.7934534384736738
MSE - Mean squeared error 11.49175455552538
RMSE - Root mean squared error 1.6713627489188796
R2 - Mean absolute error 0.5813910636894523

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [199]:
# The r-squared is worse (0.58) for a split of 0.1 vs that of a 0.2 (0.79)

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [148]:
from sklearn.svm import SVC
from sklearn.feature_selection import RFE
from sklearn import preprocessing
from sklearn import utils

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [151]:
svc = SVC(kernel="linear", C=1)
rfe = RFE(estimator=svc, n_features_to_select=3, step=1)

Fit the model and print the ranking

In [163]:
#convert y values to categorical values
lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)

In [165]:
auto_RFE= rfe.fit(X, y_transformed)

In [166]:
print(auto_RFE.ranking_)

[1 3 2 4 1 1]

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [178]:
auto_3= auto[['mpg','displacement', 'horse_power', 'weight']]

X3 = auto_3.drop("mpg", axis=1)
y3 = auto_3.mpg

X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = tts(X3, y3, test_size = 0.2)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [180]:
auto_model_reduced= LinReg()

auto_model_reduced.fit(X_train_reduced,y_train_reduced)

y_test_pred_reduced = auto_model_reduced.predict(X_test_reduced)

In [181]:
print("MAE - Mean absolute error", metrics.mean_absolute_error(y_test_reduced, y_test_pred_reduced))
print("MSE - Mean squeared error", metrics.mean_squared_error(y_test_reduced, y_test_pred_reduced))
print("RMSE - Root mean squared error", np.sqrt(metrics.mean_absolute_error(y_test_reduced, y_test_pred_reduced)))
print("R2 - Mean absolute error", metrics.r2_score(y_test_reduced, y_test_pred_reduced))

# With a 20% split, the reduced model (R2=0.75) is worse than the original model (R2= 0.79)

MAE - Mean absolute error 2.919049998641861
MSE - Mean squeared error 15.085227704799378
RMSE - Root mean squared error 1.708522753328694
R2 - Mean absolute error 0.7507520147373994